//-- ---EMPIEZAN VARIABLES-- ---//
$color-principal:#FBCA1F;
$color-secundario: black;
$color-tercero:#242424;
$blanco:white;
$gris: grey;
$fuente: 'Roboto', sans-serif;
$fuente-secundaria: "Rock Salt", cursive;
$borde: 1px solid black;
$ocultar: none;
$mostrar: 1;
//-- ---TERMINAN VARIABLES-- ---//